 .nav {
    grid-area: nav;
    background-color: blueviolet;
    padding: 20px;
  }
  .item {
    color: white;
    padding-bottom: 10px;
  }
  .item :hover {
    font-size: larger;
  }
  .item a {
    
    text-decoration: none;
   
  }

  .active {
    color: gold;
    text-decoration: none;
  }